/* ------------------------------------------ */
/* LOGO BLOCK
/* ------------------------------------------ */
.logo {
	max-width: 115px;

	a {
		text-decoration: none;
		pointer-events: none;

		outline: none;

		&:hover {
			text-decoration: none;

			outline: none;
		}
	}
}
